*{
    margin: 0;
    box-sizing: border-box;
    background-color: #080808;
    color: white;
}
html{
    overflow-x: hidden;
}
nav{
    height: 30px;
}
nav h3{
    display: inline;
    float: inline-start;
    margin-top: 0;
    margin-right: 2%;
}
nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}
nav ul li{
    display: inline;
    margin: 5%;
}
nav ul li:hover{
    
    text-decoration: underline #00ffee;
}
nav a:hover{
    color: #00ffee;

}
img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    float: right;
    margin-right: 18%;
    margin-top: 5%;
    position: relative;
    border: outset #00ffeee7;

}

.me h2{
    position: relative;
    margin-top: 12%;
    clear: right;
    display: inline-block;
    padding: 20px;
    margin-left: 18%;
}
.me h3{
    margin-top: 0px;
    margin-left: 20%;
}
.me p{
    text-wrap: wrap;
    padding: 10px;
}
.me i{
    color: #00ffee;
    border: solid #00ffee;
    border-radius: 100%;
    padding: 2px;
    margin-left: 2%;
}
.education{
    margin: 10%;
}
.education h2{
    text-align: center;
    font-size: 2em;
}

.high-school{
    border: solid #00ffee;
    margin-bottom: 2px;
    padding: 5px;
}
.internship{
    border: solid #00ffee;
    padding: 5px;
}

.skills{
    position: relative;
}
.skills h2{
    text-align: center;
}
.skills p{
    text-align: center;
    margin-top: 6px;
}
.frontend{
    display: inline;
    position: relative;
    left: 10px;
}
.backend{
    display: inline;
    position: absolute;
    top: 64px;
    left: 47%;
}
.other{
    display: inline;
    position: absolute;
    top: 63px;
    right: 10px;
}
.skills i{
    color: #00ffee;
    display: inline;
}
.skills i p{
    text-align: left;
    display: inline;
}
.projects h2{
    text-align: center;
    margin-top: 8%;
}
.projects h4,h5{
    color: #00ffee;
    text-align: center;
}

.contact h2{
    text-align: center;
    margin-top: 5%;
}
form input{
    border-color: #00ffee;
    margin: 5px;
    width: 50%;
    padding: 10px;
}
textarea{
    border-color: #00ffee;
    margin: 5px;
}   
button{
    background-color: #00ffee;
    
}
button a{
    color: #080808;
    background-color: #00ffee;
    text-decoration: none;
}
@media (max-width:767px){
    body{
        font-size: small;
        margin:10px;
        padding:5px;
    }
    nav{
        display: flex;
        font-size: 10px;
        margin-bottom: 2px;
    }
    
    nav ul{
        flex-direction: column;
    }
    nav ul li a{
        font-size: 12px;
    }
    .me img{
        width: 100px;
        height: 100px;
    }
    .me h2{
        font-size: 15px;
        text-align: center;
        position: relative;
        margin-top: 0px;
    }
    .me p{
        font-size: 12px;
    }
    .me a{
        padding: 0px;
    }
    .me i{
        height: 20px;
        padding: 2px;
    }
    .education h2{
        font-size: 15px;
    }
    .education h3{
        font-size: 14px;
    }
    .education p{
        font-size: 12px;
    }
    .skills h2{
        font-size: 15px;
    }
    .skills h3{
        font-size: 14px;
    }
    .skills p{
        font-size: 12px;
    }
    .frontend{
        position: relative;
        left: 2px;
    }
    .backend{
        position: absolute;
        top: 53px;
        left: 140px;

    }
    #backend{
        text-align: center;
    }
    .other{
        position: absolute;
        right: 0;
        top: 53px;
    }
    .projects h2{
        font-size: 15px;
        
    }
}
